html {
    font-size: 20px; // change to whatever
  
    @include breakpoint($medium) {
      font-size: 24px; // change to whatever
    }
  
    @include breakpoint($large) {
      font-size: 28px; // change to whatever
    }
  
    @include breakpoint($x-large) {
      font-size: 32px; // change to whatever
    }
  }